
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #06234e;
  padding: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  
}

h1 {
  text-align: center;
  color:rgb(72, 72, 223);
}

p {
  color: white;
}

details {
  background: #2e65b8;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

button{
  background: #a782e1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #8a5cc1;
}

.login-box {
  background: #16468e;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}

.p{
  color: white;
}

ul{
  color: white;
}